h2{
    color:yellow;
}
body{
    background-color: blueviolet;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

header{
    border-bottom: 1px solid black;
}

footer{
    border-top: 1px solid black;
}

#nome-usuário{
    font-weight: bold;
}

.texto-inglês{
    font-style: italic;
}